<h4>Hello, <%= "#{@user.title}.#{@user.last_name}" %></h4>

<p>
  Here is your login information. <br> <br>
  Email: <%= @user.email %> <br>
  Password: <%= User::DEFAULT_PASSWORD %> <br>
</p>

<%= link_to "Sign In", new_user_session_url(email: @user.email), class: "btn btn-primary text-white" %>

<p class="mt-2">
  -- <br>
  UPA Team
</p>