<%= render 'shared/page_header', title: "New Requirement Group", back_action: :back %>

<div class="card">
  <div class="card-body">
    <%= render 'form', requirement_group: @requirement_group %>
  </div>
</div>