<%= render 'shared/page_header', pre_title: "Manage Requirement Group", title: "#{@requirement_group.name.titleize}", action: new_requirement_path(requirement_group: @requirement_group), action_name: "Add Requirement", back_action: :back %>

<% if @requirement_group.has_requirements? %>
  
<% else %>
  <div class="empty">
    <div class="empty-img">
      <%= image_tag "empty.svg", alt: "empty svg" %>
    </div>
    <p class="empty-title">No requirements found</p>
    <div class="empty-action">
      <%= link_to "Add your first requirement", new_requirement_path(requirement_group: @requirement_group), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>