<%= render 'shared/page_header', title: "Editing Programme", back_action: programmes_path %>

<div class="card">
  <div class="card-body">
    <%= render 'form', programme: @programme %>
  </div>
</div>