<%= render 'shared/page_header', pre_title: "Manage Term", title: "Terms", action: new_term_path, action_name: "New Term",action_restricted: false %>

<div class="card">
  <div class="table-responsive">
    <table class="table table-vcenter card-table table-striped text-nowrap">
      <thead>
        <tr>
          <th>Start year</th>
          <th>End year</th>
        </tr>
      </thead>

      <tbody>
        <% @terms.each do |term| %>
          <tr>
            <td><%= term.start_year %></td>
            <td><%= term.end_year %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>