<h1>Course Records</h1>

   <ul>
	<% @course_records.each do |course_record| %>
	   <li>
		<a href="/course_records/<%= course_record.id %>">
			<%= course_record.course.id %>
		</a>
	   </li>
	<% end %>
   </ul>
