<h1>Add Course Record</h1>

<form action="/students/<%= current_user.id %>/course-records" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>/>
  <div>
    <label for="course_record_course_id">Course</label><br>
    <input type="text" name="course_record[course_id]" id="course_record_course_id" />
  </div>
  <div>
    <label for="course_record_term">Term</label><br>
    <textarea name="course_record[term]" id="course_record_term">
</textarea>
  </div>
  <div>
    <label for="course_record_grade">Grade</label><br>
    <textarea name="course_record[grade]" id="course_record_grade">
</textarea>
  </div>
  <div>
    <input type="submit" name="commit" value="Create Course record" data-disable-with="Create Course record" />
  </div>
</form>