<%= render 'shared/page_header', title: "New Course Record", back_action: :back %>

<div class="card">
  <div class="card-body">
    <%= render 'form', course_record: @course_record %>
  </div>
</div>