<h1>Course Record</h1>

<p>Course Title: <%= @course_record.course.name %></p>
<p>Course Code: <%= @course_record.course.code %></p>
<p>Term Taken: <%= @course_record.term %></p>
<p>Course Grade: <%= @course_record.grade %></p>