<%= render 'shared/page_header', title: "Edit Department", back_action: departments_path %>

<div class="card">
  <div class="card-body">
    <%= render 'form', faculty: @department %>
  </div>
</div>