<%= render 'shared/page_header', title: "Editing Permission Group", back_action: permission_groups_path %>

<div class="card">
  <div class="card-body">
    <%= render 'form', permission_group: @permission_group  %>
  </div>
</div>