<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission_group.name %>
</p>

<%= link_to 'Edit', edit_permission_group_path(@permission_group) %> |
<%= link_to 'Back', permission_groups_path %>
