
        
<div class="title d-flex flex-row">
        <h4 class="shadow-sm">BIOC2014  </h4>
        <h1> Bioenergetics and Cell Metabolism</h1>
</div>

<div class="row row-no-gutters card shadow-sm">            
    <main class=" course-main">
        <aside class="card summary shadow-sm">
            <h2 class="">Summary </h2>
            <hr>
            <table>
                <tr>
                    <th>Campus</th>
                    <td>Mona</td>
                </tr>
                <tr>
                    <th>Faculty</th>
                    <td>Science and Technology</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>Bio-Chemistry</td>
                </tr>
                <tr>
                    <th>Level</th>
                    <td>3</td>
                </tr>
                <tr>
                    <th>Credits</th>
                    <td>3</td>
                </tr>
                <tr>
                    <th>Semester(s) Offered</th>
                    <td>2,3</td>
                </tr>
            
            </table>
        </aside>
        <div class=" " id="description">
            <h2 class=""> Description</h2>
            <p class=""> This course is a college-prep Chemistry course that provides an in-depth introduction to the methods and concepts of general chemistry. Heavily emphasizing the vocabulary of chemistry and un derstanding of important topics, it provides the student with a strong background in the scientific method. Measurement in Chemistry, Significant figures and Matter, Atomic Theory and Early Atomic Modeh, Modern Atomic Models, Quantum Mechanics and The Periodic Table, Trends in the Periode Table, Bonding Covalent Bonds, lonic Bonds and Naming Compounds, Balancing Equations Molles, Percent Composition, Empirical and Molecular formulas., Stoichiometry, Introduction to Gases, Gas Laws Boyle's and Charles's law. Other Gas law, vlutions. More Solutions, Solutions and intro duction to Acids.. Acids and bu, Nerilization, Chemical Equilibrium,. Chemical Kisstics, Review and Introduction to Heat, Thermochemistry, Electrochemistry, Nudear Chemisty.</p>

            <p class=""> This course is a college-prep Chemistry course that provides an in-depth introduction to the methods and concepts of general chemistry. Heavily emphasizing the vocabulary of chemistry and un derstanding of important topics, it provides the student with a strong background in the scientific method. Measurement in Chemistry, Significant figures and Matter, Atomic Theory and Early Atomic Modeh, Modern Atomic Models, Quantum Mechanics and The Periodic Table, Trends in the Periode Table, Bonding Covalent Bonds, lonic Bonds and Naming Compounds, Balancing Equations Molles, Percent Composition, Empirical and Molecular formulas., Stoichiometry, Introduction to Gases, Gas Laws Boyle's and Charles's law. Other Gas law, vlutions. More Solutions, Solutions and intro duction to Acids.. Acids and bu, Nerilization, Chemical Equilibrium,. Chemical Kisstics, Review and Introduction to Heat, Thermochemistry, Electrochemistry, Nudear Chemisty.</p>
                        
        </div>

        

        <div id="reqs">
            <h2> Requirements</h2>
            <p>Any additional information</p>
            <div class="row reqs-row">
                <div class="card reqs-card"> 
                    <h5 class="card-title ">Pre-requisites</h4>
                    <!--List of pre requisite course codes-->
                    <table class="card-text">
                        <tr >
                            <td><a href="#">BIOC1534</a></td> 
                            <td>Bioenergetics and Cell Metabolism</td>
                        </tr>
                        <tr>
                            <td><a href="#">BIOC1534</a></td> 
                            <td>Bioenergetics and Cell Metabolism</td>
                        </tr>
                    </table>
                </div>

                <!--If exists-->
                <div class="card co-reqs "> 
                    <h5 class="card-title pre-reqs">Co-requisites</h4>
                    <table>
                        <tr>
                            <td><a href="#">BIOC1534</a></td> 
                            <td>Bioenergetics and Cell Metabolism</td>
                        </tr>
                        <tr>
                            <td><a href="#">BIOC1534</a></td> 
                            <td>Bioenergetics and Cell Metabolism</td>
                        </tr>
                    </table>
                </div>

                        
                <!--If exists-->
                <div class="card anti-reqs"> 
                    <h5 class="card-title pre-reqs">Any 6 credits from</h4>
                    <table>
                        <tr>
                            <td><a href="#">BIOC1455 </a></td> 
                            <td>Biology and Mankind</td>
                        </tr>
                        <tr>
                            <td><a href="#">CHEM2349</a></td> 
                            <td>Advanced Chemistry</td>
                        </tr>
                        <tr>
                            <td><a href="#">CHEM2349</a></td> 
                            <td>Chemistry in Medicine and Psychology II </td>
                        </tr>
                        <tr>
                            <td><a href="#">CHEM2349</a></td> 
                            <td>Chemistry in Medicine and Psychology II </td>
                        </tr>
                        <tr>
                            <td><a href="#">CHEM2349</a></td> 
                            <td>Chemistry in Medicine and Psychology II </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div id="assessment">
            <h2>Assessment</h3>
        </div>
    </main>

    

</div>