@import 'tabler';
@import "actiontext.scss";


@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");

$accent-color: #db3131;

%colour-combo{
    background-color: $accent-color;
    color: white;
}



input[type="radio"] {
    position: absolute;
    left: -9999px;
}

  
.filters-show-only {
    *{display: inline-block;}
     
    label {
        padding: 0.5rem 1rem;
        margin-bottom: 0.25rem;
        border-radius: 2rem;
        min-width: 50px;
        line-height: normal;
        cursor: pointer;
        transition: all 0.1s;
    }
   
    label:hover {
        @extend %colour-combo;
    }

    label.active {
        @extend %colour-combo;
    }
}

[value="All"]:checked ~ .filters-show-only [for="All"],
[value="Courses"]:checked ~ .filters-show-only [for="Courses"], [value="Programmes"]:checked ~ .filters-show-only [for="Programmes"], [value="Majors"]:checked ~ .filters-show-only [for="Majors"], [value="Minors"]:checked ~ .filters-show-only [for="Minors"]  {
  @extend %colour-combo;
}

.course-card{
    border-left:5px solid $accent-color;
    margin-bottom: 10px;
}

#sidebar {
    background-color: white;
    padding: 25px ;
    border-radius: 3px;
    margin-left: 5%;
    
    a{
        color: black;
        display: inline;

    }

    .dropdown-menu{
        max-height: 200px;
        overflow: scroll;
    }

    hr{
        margin: 20px 0px
    }
}


.lvl-crdt{
    align-items: flex-end;
}

.btn-dark{
    text-align: left;
}


.reset{
    text-align: end;
}

.pagination{
    margin-top: 10px;
}

/* Show course */

.row-no-gutters{
    margin-top: 3%;
    background-color: white;
    padding: 25px;

}


#description{
    max-width: 100%;
    max-height: fit-content;
    text-align: justify;
}

#reqs, #assessment{
    margin-top: 50px;
}

#reqs .card{
    padding: 25px;
    max-width: 320px;
    max-height: fit-content;
    margin-right: 20px;
    margin-top: 10px;
}

td, th{
    padding-right:15px;
}

/*.mini-nav{

    margin-bottom: 20px;
    width: 85%;

    a{
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

    a:hover {
        @extend %colour-combo;
    }
}*/

.summary{
    padding: 25px;
    width: 30%;  
    white-space:pre-wrap;
    text-overflow: ellipsis;
    margin-left: 5%;
    margin-bottom: 2%;

    hr{
        background-color: $accent-color;
        height: 2px;
        margin: 10px 0px;
    }

    h2{
        text-align: center;
    }
}

.title{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 15%;
    text-align: center;
    width: fit-content;
    margin: auto;

    h4{
        @extend %colour-combo;
        padding: 10px;
        border-radius: 5px;
        margin-right: 20px;
    }  
}

aside{
    float: right;
    margin-left: 10px;
}
